@font-face {
  font-family: "Sedan SC";
  src: url('./assets/fonts/SedanSC-Regular.ttf');
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Sedan SC";
}

*:focus{
  outline: none;
}